body{
	padding-top: 70px;
	background: url(https://cdn.londonandpartners.com/asset/zara-oxford-street-flagship-store-ec5ec6775166f987dd765b85ff6da645.jpg);
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
}
table{
	background-color: #ffffff;
}